<div>
  <%= case @editor_action do %>
    <% :action_not_available -> %>
    <% :editor_not_available -> %>
      <button
        disabled
        class="p-2 rounded-xs transition-colors opacity-50 cursor-not-allowed text-base-light-400 dark:text-base-dark-600"
        title="No editor configured - set CLARITY_EDITOR, ELIXIR_EDITOR, or EDITOR environment variable"
      >
        <.icon_external_link class="w-4 h-4" />
      </button>
    <% {:url, url} -> %>
      <a
        href={url}
        target="_blank"
        class="p-2 rounded-xs transition-colors hover:bg-base-light-200 dark:hover:bg-base-dark-800 text-base-light-600 dark:text-base-dark-400 hover:text-primary-light dark:hover:text-primary-dark block"
        title="Open in Browser"
      >
        <.icon_external_link class="w-4 h-4" />
      </a>
    <% {:execute, _execute_fn} -> %>
      <button
        phx-click="open_in_editor"
        phx-target={@myself}
        class="p-2 rounded-xs transition-colors hover:bg-base-light-200 dark:hover:bg-base-dark-800 text-base-light-600 dark:text-base-dark-400 hover:text-primary-light dark:hover:text-primary-dark"
        title="Open in Editor"
      >
        <.icon_external_link class="w-4 h-4" />
      </button>
  <% end %>
</div>
