<div>
  <%= case @editor_action do %>
    <% :action_not_available -> %>
      {""}
    <% :editor_not_available -> %>
      <button
        type="button"
        aria-disabled="true"
        class="icon-button"
        aria-label="Open in editor"
        {Tooltip.attrs("No editor configured: set CLARITY_EDITOR, ELIXIR_EDITOR or EDITOR")}
      >
        <.icon_external_link />
      </button>
    <% {:url, url} -> %>
      <a
        href={url}
        target="_blank"
        rel="noopener"
        class="icon-button"
        aria-label="View source online"
        {Tooltip.attrs("View source online")}
      >
        <.icon_external_link />
      </a>
    <% {:execute, _execute_fn} -> %>
      <button
        type="button"
        phx-click="open_in_editor"
        phx-target={@myself}
        class="icon-button"
        aria-label="Open in editor"
        {Tooltip.attrs("Open in editor")}
      >
        <.icon_external_link />
      </button>
  <% end %>
</div>
