<div>
  <.render_vertex
    graph={@graph}
    vertex={%Clarity.Vertex.Root{}}
    visible_ids={@visible_ids}
    active_vertex={@active_vertex}
    prefix={@prefix}
    lens={@lens}
    myself={@myself}
    status_index={@status_index}
  />
</div>
