<!DOCTYPE html>
<html lang="en" class={if @theme == :dark, do: "dark", else: ""} phx-socket={live_socket_path(@conn)}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Dashboard" suffix=" · Clarity">
      {assigns[:page_title]}
    </.live_title>
    <Clarity.Resources.css />
    <meta name="theme-color" content="#b91c1c" />
    <meta name="background-color" content="#111827" />
    <link rel="shortcut icon" href={Clarity.Resources.logo_uri()} />
  </head>
  <body>
    {@inner_content}
  </body>
  <Clarity.Resources.js />
</html>