/* This file is for your main application CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/**
 * Layout
 */
.layout-container {
  display: grid;

  grid-template-columns: 1fr;
  /* TODO: Replace minmax(auto, 4rem) with auto once the navigation is build collpasible on mobile */
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    "header"
    "navigation"
    "tabs"
    "main";

  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  min-height: 100vh;
}

@media (min-width: 48rem) {
  .layout-container {
    grid-template-columns: minmax(20rem, 25vw) 1fr;
    grid-template-rows: min-content min-content 1fr;
    grid-template-areas:
      "header header"
      "navigation tabs"
      "navigation main";

    height: 100vh;
  }
}

.layout-container > .header {
  grid-area: header;
}

.layout-container > .navigation {
  grid-area: navigation;
  overflow: auto;
}

.layout-container > .tabs {
  grid-area: tabs;
}

.layout-container > .content {
  grid-area: main;
  overflow: auto;
}

.tooltip {
  position: fixed;
  position-anchor: --tooltip-anchor;
  position-area: block-end inline-start;
  position-try-fallbacks: 
    flip-inline,
    flip-block,
    flip-block flip-inline;
  position-try-order: most-width;
  max-inline-size: 50vi;
  max-block-size: 50vb;
  overflow: auto;
  z-index: 10000;
  pointer-events: none;
}

#tooltip-cursor {
  anchor-name: --tooltip-anchor;
  position: fixed;
  z-index: -10000;
  opacity: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
  /* display: inline; */
}