<%= for {label, children} <- Graph.navigation_children(@graph, @vertex), label != :content do %>
  <div>
    <span class="cursor-pointer select-none text-base-light-600 dark:text-base-dark-400 hover:text-primary-light dark:hover:text-primary-dark px-2 py-1 rounded-xs group-open:bg-base-light-200 dark:group-open:bg-base-dark-700 transition-colors">
      {label}
    </span>
    <ul class="border-l border-base-light-300 dark:border-base-dark-700 pl-2 space-y-1">
      <li :for={child <- children}>
        <.render_node
          graph={@graph}
          vertex={child}
          visible_ids={@visible_ids}
          active_vertex={@active_vertex}
          prefix={@prefix}
          lens={@lens}
          myself={@myself}
          name_style={@name_style}
          any_sibling_has_children={Enum.any?(children, &has_children?(@graph, &1))}
        />
      </li>
    </ul>
  </div>
<% end %>
