<.empty_state id="data-load-error" title="Couldn't load this page" class="page-state" {@rest}>
  <:icon><.icon_error /></:icon>
  Clarity couldn't build the graph for this page. The server log has the details.
  <:action>
    <.link patch={Path.join([@prefix, @lens.id, "root"])} class="empty-state-action">
      Go to root
    </.link>
  </:action>
</.empty_state>
