<.empty_state
  title="Lens not found"
  class="min-h-screen bg-base-light-50 dark:bg-base-dark-900"
  {@rest}
>
  <:icon><.icon_aperture /></:icon>
  There's no lens at this address. It may have been renamed, or the link may be wrong.
  <:action>
    <.link patch={@prefix} class="empty-state-action">Go to the default lens</.link>
  </:action>
</.empty_state>
