<% content_props = %{
  theme: @theme,
  engine: @engine,
  name_style: @name_style,
  zoom_subgraph: @zoom_graph,
  zoom_level: @zoom_level,
  shown_vertex_types: @shown_vertex_types,
  available_vertex_types: @available_vertex_types
} %>
<%= cond do %>
  <% @content == nil -> %>
    <.content_not_found_error />
  <% @content.live_component? -> %>
    <.live_component
      module={@content.provider}
      id="content-view"
      vertex={@vertex}
      lens={@lens}
      {content_props}
    />
  <% @content.live_view? -> %>
    {live_render(@socket, @content.provider,
      id: "content-view",
      session: %{
        "vertex" => @vertex,
        "lens" => @lens
      },
      container: {:div, class: "content"}
    )}
  <% true -> %>
    <%= case @content.render_static do %>
      <% {:mermaid, content} -> %>
        <.mermaid graph={content.(content_props)} class="content p-4" id="content-view-mermaid" />
      <% {:viz, content} -> %>
        <.viz
          graph={content.(content_props)}
          engine={@engine}
          class="content p-4"
          id="content-view-viz"
        />
      <% {:d2, content} -> %>
        <div class="content flex flex-col h-full relative">
          <div class="absolute top-4 right-4 z-10">
            <.live_component
              module={Clarity.D2LayoutSwitcherComponent}
              id="content-d2-layout-switcher"
              d2_layout={@d2_layout}
            />
          </div>
          <div class="flex-1 min-h-0 p-4">
            <.d2
              graph={IO.iodata_to_binary(content.(content_props))}
              layout={@d2_layout}
              theme={Atom.to_string(@theme)}
              class="h-full"
              id="content-view-d2"
            />
          </div>
        </div>
      <% {:markdown, content} -> %>
        <section class="content w-full flex justify-center">
          <.markdown
            content={content.(content_props)}
            class="p-4 max-w-[100ch] w-full"
            prefix={@prefix}
            lens={@lens}
          />
        </section>
    <% end %>
<% end %>
