<.empty_state title="Vertex not found" class="content" {@rest}>
  <:icon><.icon_search /></:icon>
  Nothing in the graph has this address. It may have gone since the last introspection,
  or the link may be wrong.
  <:action>
    <.link patch={Path.join([@prefix, @lens.id, "root"])} class="empty-state-action">
      Go to root
    </.link>
  </:action>
</.empty_state>
